PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_DBNAME=

APP_JWT_SECRET=
APP_JWT_EXPIRES_IN=

NODE_ENV=development
FRONTEND_URL=
COOKIE_NAME=

GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CURRENCY_API_KEY=